In [44]:
import pandas as pd
df = pd.read_xml(r"C:\Users\Jurate\Documents\Studijos\PYTHON\python_sandbox\xml\students.xml")
df

    name             major  age
0  Alice  Computer Science   20
1    Bob        Philosophy   22
2   Mary           Biology   21

In [45]:
xml = """<?xml version='1.0' encoding='utf-8'?>
<data>
    <student>
        <name>Alice</name>
        <major>Computer Science</major>
        <age>20</age>
    </student>
    <student>
        <name>Bob</name>
        <major>Philosophy</major>
        <age>22</age>
    </student>
    <student>
        <name>Mary</name>
        <major>Biology</major>
        <age>21</age>
    </student>
</data>"""

In [46]:
df = pd.read_xml(xml)
df

    name             major  age
0  Alice  Computer Science   20
1    Bob        Philosophy   22
2   Mary           Biology   21

In [47]:
# alternative xml structure:
xml = """<?xml version='1.0' encoding='utf-8'?>
            <data>
                <student name = "Alice" major = "Computer Science" age = "20"/>
                <student name = "Bob" major = "Philosophy" age = "22"/>
                <student name = "Mary" major = "Biology" age = "21"/>
            </data>"""

df = pd.read_xml(xml, xpath=".//student")
df

    name             major  age
0  Alice  Computer Science   20
1    Bob        Philosophy   22
2   Mary           Biology   21

In [48]:
# df
# print(df.to_xml())
print(df.to_xml(row_name="student", index=False))

<?xml version='1.0' encoding='utf-8'?>
<data>
  <student>
    <name>Alice</name>
    <major>Computer Science</major>
    <age>20</age>
  </student>
  <student>
    <name>Bob</name>
    <major>Philosophy</major>
    <age>22</age>
  </student>
  <student>
    <name>Mary</name>
    <major>Biology</major>
    <age>21</age>
  </student>
</data>

In [49]:
print(df.to_xml(attr_cols=["name", "major", "age"], index=False, row_name="student"))

<?xml version='1.0' encoding='utf-8'?>
<data>
  <student name="Alice" major="Computer Science" age="20"/>
  <student name="Bob" major="Philosophy" age="22"/>
  <student name="Mary" major="Biology" age="21"/>
</data>

In [50]:
data = df.to_xml(row_name="student", index=False)

with open("new_students_xml.xml", "w") as file:
    file.write(data)
file.close()